In [2]:
import sys
sys.executable, sys.path

('D:\\Anaconda\\envs\\tisch\\python.exe',
 ['d:\\python\\tisch',
  'c:\\Users\\Somiparno\\.vscode\\extensions\\ms-toolsai.jupyter-2021.8.1013163132\\pythonFiles',
  'c:\\Users\\Somiparno\\.vscode\\extensions\\ms-toolsai.jupyter-2021.8.1013163132\\pythonFiles\\lib\\python',
  'D:\\Anaconda\\envs\\tisch\\python36.zip',
  'D:\\Anaconda\\envs\\tisch\\DLLs',
  'D:\\Anaconda\\envs\\tisch\\lib',
  'D:\\Anaconda\\envs\\tisch',
  '',
  'D:\\Anaconda\\envs\\tisch\\lib\\site-packages',
  'D:\\Anaconda\\envs\\tisch\\lib\\site-packages\\win32',
  'D:\\Anaconda\\envs\\tisch\\lib\\site-packages\\win32\\lib',
  'D:\\Anaconda\\envs\\tisch\\lib\\site-packages\\Pythonwin',
  'D:\\Anaconda\\envs\\tisch\\lib\\site-packages\\IPython\\extensions',
  'C:\\Users\\Somiparno\\.ipython'])

In [3]:
%reload_ext autoreload
%autoreload 2

In [4]:
import tisch
import numpy as np
import random

In [5]:
df_tisch = tisch.DataTable({
    "above_18": np.array([random.choice([True, False]) for _ in range(10000)]), 
    "height": np.array([random.random() for _ in range(10000)]), 
    "weight": np.array([i + 1 for i in range(10000)]),
    "school": np.array([random.random() for _ in range(10000)]), 
    "college": np.array([random.random() for _ in range(10000)]), 
})

In [6]:
import pandas as pd

In [7]:
df_pandas = pd.DataFrame({
    "is_of_age": np.array([random.choice([True, False]) for _ in range(10000)]), 
    "height": np.array([random.random() for _ in range(10000)]), 
    "weight": np.array([i + 1 for i in range(10000)])
})

In [8]:
df_bool = df_tisch[0:50, 'college']
df_bool

In [9]:
df_tisch['all_true'] = np.array([i + 1 for i in range(len(df_tisch))])

In [10]:
df_tisch.tail(n = 5)

In [68]:
df_small = tisch.DataTable({
    "a": np.array([1, 8, 1]),
    "b": np.array([1, 1, 8]),
    "c": np.array([3, 2, 1]),
    "d": np.array([1, 2, 1])
})

In [69]:
df_small.isna()

In [70]:
df_small.count()

In [71]:
dfs = df_small.unique()

In [72]:
dfs[0]

In [73]:
dfs[1]

In [74]:
dfs[2]

In [75]:
dfs[3]

In [76]:
df_small.nunique()

In [77]:
from tisch import ArrayCounter

arr = ArrayCounter(np.array([1, 2, 1, 1, 2, 3, np.nan, np.nan]))

In [78]:
arr._dict

{1.0: 3, 2.0: 2, 3.0: 1, nan: 1, nan: 1}

In [79]:
vc = df_small.val_counts(normalize=True)

In [80]:
vc[3]

In [81]:
df_small.rename({
    'a': 'apple',
    'b': 'ball',
    'c': 'cat',
    'd': 'dog'
})

In [82]:
df_small.drop(['b', 'c'])

In [83]:
df_small.diff(n = 1)

In [85]:
df_small.sort_vals(['b', 'c'], ascending = True)

In [86]:
df_small[[0, 1], :]

In [107]:
df_small.sample(replace=True)